@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500&family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.heading {
  margin-left: 600px;
  margin-top: 50px;
}
.money {
  margin-top: 134px;
  margin-left: 65px;
  width: 705px;
  height: 815px;
}
.grid-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.calculation {
  margin-top: 100px;
  margin-left: 100px;
  background-color: #f8f8f8;
}
.income {
  line-height: 26px;
  margin-left: 200px;
}
.income-input {
  font-weight: 500;
  margin-left: 50px;
}
.expances {
  line-height: 26px;
  margin-left: 200px;
  margin-top: 30px;
}
.cloths-input {
  font-weight: 500;
  margin-left: 50px;
}
.cloths {
  margin-left: -13px;
}
.box {
  width: 40%;
  height: 25px;
  border-radius: 7px;
  background-color: #e5e4e2;
}
.all-inputes {
  margin-left: 50px;
}
.income-part,
.expances-part {
  margin-left: 40px;
}
.calculate {
  margin-top: 40px;
  margin-left: 170px;
  padding: 10px;
  border-radius: 5px;
  background-color: #59a5ff;
}
.text {
  font-size: 15px;
  font-weight: 600;
}
.total-expances,
.total-balance {
  text-align: center;
  margin-right: 50px;
  margin-top: 30px;
}
.save-money {
  margin-left: 10px;
  width: 10%;
  height: 25px;
  border-radius: 7px;
  background-color: #e5e4e2;
}
.saving-money {
  margin-bottom: 25px;
  margin-left: 120px;
}
.save-button {
  margin-top: 40px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #59a5ff;
}
.saved-amount,
.remaining-balance {
  text-align: center;
  margin-right: 50px;
  margin-top: 1px;
}
/* Responsiveness For mobile Devices */
@media only screen and (max-width: 688px) {
  .heading {
    margin-left: 18px;
    margin-top: 40px;
    width: 100%;
    /* margin: auto; */
  }
  .money {
    margin-left: auto;
    margin-top: 50px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .calculation {
    margin-top: 800px;
    margin-left: -600px;
  }
}
